@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee; }

button {
  background-color: transparent;
  border: 0; }
  button:hover {
    cursor: pointer; }
  button:active, button:focus {
    outline: 0; }

nav {
  width: 100%;
  position: fixed;
  background-color: #212121;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  z-index: 100; }
  nav .mobsearch {
    display: none; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

p {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

.logo {
  height: 100%;
  display: inline-block;
  padding: 9px 10px;
  /*background-color: $main-color */
  background-image: -webkit-linear-gradient(#2196f3, rgba(33, 150, 243, 0.3));
  background-image: linear-gradient(#2196f3, rgba(33, 150, 243, 0.3)); }
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 150%;
    font-family: "Poiret One", sans-serif !important; }

.text {
  color: white;
  font: 440% "Poiret One", sans-serif;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000); }

.undertext {
  color: white;
  font: 140% "Open Sans Condensed", sans-serif;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0px 0px 5px #000);
          filter: drop-shadow(0px 0px 5px #000); }

#header {
  padding-top: 60px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #212121;
  box-shadow: inset 0 -6px 10px -6px #fff; }

#login {
  position: fixed;
  right: 0;
  top: 46px;
  background-color: #212121;
  display: none;
  z-index: 101;
  box-shadow: 0 5px 5px 0px rgba(33, 33, 33, 0.25); }
  #login div {
    box-sizing: border-box;
    max-width: 100%;
    padding: 40px;
    padding-left: 100px;
    padding-right: 70px;
    -webkit-transition: background-color 0.4s;
            transition: background-color 0.4s;
    background: -webkit-linear-gradient(left, #212121 50%, rgba(255, 255, 255, 0.2));
    background: linear-gradient(to right, #212121 50%, rgba(255, 255, 255, 0.2));
    background-size: 250% 100%;
    background-position: left bottom;
    -webkit-transition: all 0.5s cubic-bezier(0.71, 0.34, 0.28, 0.89);
            transition: all 0.5s cubic-bezier(0.71, 0.34, 0.28, 0.89);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
    #login div:hover {
      cursor: pointer;
      background-position: right bottom; }
    #login div span {
      width: 100%;
      height: 100%;
      font-family: "Lato";
      text-transform: uppercase;
      color: white;
      -webkit-transition: color 0.4s;
              transition: color 0.4s; }
      #login div span:hover {
        cursor: pointer;
        color: #2196F3; }
  #login #auth:before, #login #mtags:before, #login #mabout:before, #login #msettings:before {
    content: "";
    background-image: url(resources/icons/accountc.svg);
    width: 44px;
    height: 44px;
    position: absolute;
    left: 30px;
    margin-top: -12px;
    background-size: cover;
    -webkit-filter: drop-shadow(0px 0px 5px #000);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(0px 0px 5px #000);
            filter: drop-shadow(0px 0px 5px #000);
    -webkit-animation: filter 0.4s, -webkit-filter 0.4s;
            animation: filter 0.4s, -webkit-filter 0.4s; }
    #login #auth:before:hover, #login #mtags:before:hover, #login #mabout:before:hover, #login #msettings:before:hover {
      -webkit-filter: drop-shadow(0px 0px 10px #000);
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
      -webkit-filter: drop-shadow(0px 0px 10px #000);
              filter: drop-shadow(0px 0px 10px #000); }
  #login #mtags:before {
    background-image: url(resources/icons/sort.svg); }
  #login #mabout:before {
    background-image: url(resources/icons/help.svg); }
  #login #msettings:before {
    background-image: url(resources/icons/settings.svg); }

.main #posts {
  padding-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main #posts > div {
    margin: 10px;
    width: 320px;
    max-width: 100%;
    padding-bottom: 5px;
    display: inline-block;
    background-color: white;
    -webkit-transition: all 0.4s;
            transition: all 0.4s;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
    .main #posts > div:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
    .main #posts > div p {
      margin: 0;
      display: block;
      padding: 0 10px;
      box-sizing: border-box;
      font-family: "Lato", sans-serif !important; }
    .main #posts > div p:nth-child(3) {
      width: 100%;
      background-color: #2196F3;
      font-size: 120%;
      font-family: "Open Sans", sans-serif !important;
      margin-top: -5px;
      padding: 5px 10px;
      color: white; }
    .main #posts > div p:nth-child(4) {
      padding-top: 5px;
      padding-bottom: 5px; }
    .main #posts > div p:nth-child(5) {
      font-size: 90%;
      color: #555;
      padding-top: 5px;
      padding-bottom: 10px; }
    .main #posts > div div:nth-child(2) {
      position: absolute; }
      .main #posts > div div:nth-child(2) img {
        position: relative;
        content: url(resources/icons/play.svg);
        top: -120px;
        left: 122px;
        margin: auto;
        width: 75px;
        height: 75px;
        -webkit-filter: drop-shadow(0px 0px 5px #000);
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
        -webkit-filter: drop-shadow(0px 0px 5px #000);
                filter: drop-shadow(0px 0px 5px #000);
        -webkit-animation: filter 0.4s, -webkit-filter 0.4s;
                animation: filter 0.4s, -webkit-filter 0.4s; }
        .main #posts > div div:nth-child(2) img:hover {
          cursor: pointer;
          -webkit-filter: drop-shadow(0px 0px 10px #000);
          filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
          -webkit-filter: drop-shadow(0px 0px 10px #000);
                  filter: drop-shadow(0px 0px 10px #000); }

#popup {
  display: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -200px;
  top: 50%;
  width: 500px;
  max-width: 100%;
  background-color: #212121;
  padding-bottom: 80px; }
  #popup p {
    color: white;
    font-family: "Montserrat", sans-serif !important;
    font-size: 150%;
    display: inline-block;
    padding: 15px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #2196F3;
    text-align: center; }

#infoup, #settings, #tags {
  display: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -200px;
  top: 50%;
  width: 500px;
  max-width: 100%;
  background-color: #212121;
  color: white;
  font-family: "Open Sans", sans-serif !important;
  box-sizing: border-box; }
  #infoup p:first-child, #settings p:first-child, #tags p:first-child {
    font-size: 150%;
    font-family: "Montserrat", sans-serif !important;
    text-align: center;
    background-color: #2196F3;
    padding: 16px; }
  #infoup p:nth-child(2), #settings p:nth-child(2), #tags p:nth-child(2) {
    color: #888;
    padding: 25px 25px; }

#tags a {
  color: white;
  -webkit-transition: color 0.4s;
          transition: color 0.4s; }
  #tags a:hover {
    color: #2196F3; }

input, textarea {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid #2196F3;
  -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #E0E0E0; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #E0E0E0; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #E0E0E0; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #E0E0E0; }
  input:hover, textarea:hover {
    border-bottom: 4px solid #1976D2;
    padding-bottom: 8px; }
  input:focus, input:active, textarea:focus, textarea:active {
    outline: none;
    border-bottom: 4px solid #1976D2;
    padding-bottom: 8px;
    background-color: #E0E0E0;
    color: #212121; }
    input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, textarea:active::-webkit-input-placeholder {
      color: #212121; }
    input:focus::-moz-placeholder, input:active::-moz-placeholder, textarea:focus::-moz-placeholder, textarea:active::-moz-placeholder {
      color: #212121; }
    input:focus:-moz-placeholder, input:active:-moz-placeholder, textarea:focus:-moz-placeholder, textarea:active:-moz-placeholder {
      color: #212121; }
    input:focus:-ms-input-placeholder, input:active:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, textarea:active:-ms-input-placeholder {
      color: #212121; }

textarea {
  width: 402px; }

#postform {
  padding-top: 5px; }

.search {
  width: 400px;
  max-width: 100%;
  margin: 0;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 3px; }
  .search:after {
    position: absolute;
    top: 5px;
    right: 0;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(resources/icons/search.svg);
    background-size: cover; }

#info, #account {
  height: 40px;
  width: 40px;
  background-image: url(resources/icons/info.svg);
  background-size: cover;
  position: absolute;
  right: 50px;
  top: 5px; }

#account {
  background-image: url(resources/icons/more.svg);
  right: 5px; }
  #account:hover {
    -webkit-animation: bounce 1.2s;
    animation: bounce 1.2s; }

.close {
  position: absolute;
  top: 7px;
  right: 5px;
  background-image: url(resources/icons/close.svg);
  background-size: cover;
  width: 44px;
  height: 44px; }
  .close:hover {
    -webkit-animation: spin 1.2s ease-in-out;
    animation: spin 1.2s ease-in-out; }

.create, .maximize {
  position: fixed;
  z-index: 1000;
  right: 50px;
  bottom: 50px;
  border: 0;
  background-image: url(resources/icons/create.svg);
  background-size: cover;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 8px solid #2196F3;
  background-color: #2196F3;
  -webkit-transition: background-color 0.4s, border 0.4s, box-shadow 0.4s;
          transition: background-color 0.4s, border 0.4s, box-shadow 0.4s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
  .create:hover, .maximize:hover, .create:active, .maximize:active, .create:focus, .maximize:focus {
    background-color: #1976D2;
    border: 8px solid #1976D2;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.submit {
  width: 44px;
  height: 44px;
  background-image: url(resources/icons/send.svg);
  background-size: cover;
  content: "";
  position: absolute;
  right: 50px;
  bottom: 20px; }

#cinema {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  display: none;
  position: fixed;
  z-index: 9;
  width: 80%;
  left: 10%;
  height: 80%;
  top: 10%;
  -webkit-transition: all 1s;
          transition: all 1s;
  background-color: #212121;
  pointer-events: auto; }
  #cinema p {
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-family: "Lato", sans-serif !important; }
  #cinema p:first-child {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #2196F3;
    font-family: "Montserrat", sans-serif !important;
    font-size: 150%; }
  #cinema p:nth-child(3) {
    background-color: white;
    font-family: "Open Sans", sans-serif !important;
    font-size: 150%;
    padding: 20px;
    color: #212121; }
  #cinema p:nth-child(4) {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #212121; }
  #cinema p:nth-child(5) {
    display: block;
    background-color: #212121;
    color: #b3b3b3;
    padding: 20px; }
  #cinema iframe {
    width: 100%;
    height: 70%; }

#shifting {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  pointer-events: none;
  z-index: 102;
  -webkit-transition: all 1.2s;
          transition: all 1.2s; }

#modalshadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none; }

.minimizeanim {
  -webkit-transform: translate(-70px, -145px) scale(0.01);
      -ms-transform: translate(-70px, -145px) scale(0.01);
          transform: translate(-70px, -145px) scale(0.01);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom; }

.minimize {
  position: absolute;
  top: 12px;
  right: 60px;
  background-image: url(resources/icons/minimize.svg);
  background-size: cover;
  width: 44px;
  height: 44px;
  z-index: 1000; }

.maximize {
  display: none;
  bottom: 125px;
  background-image: url(resources/icons/maximize.svg);
  border: 8px solid #00bb66;
  background-color: #00bb66; }
  .maximize:hover, .maximize:active, .maximize:focus {
    background-color: #008844;
    border: 8px solid #008844; }

#miniclose {
  display: none;
  position: fixed;
  right: 47px;
  bottom: 160px;
  color: transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 1001;
  -webkit-transition: all 0.4s;
          transition: all 0.4s; }

@media (min-width: 1200px) {
  .maximize:hover + #miniclose, #miniclose:hover {
    display: block;
    color: white; }

  #miniclose:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(50, 50, 50, 0.8); } }
.next {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 45%;
  right: -80px;
  background-image: url(resources/icons/next.svg);
  background-size: cover;
  width: 80px;
  height: 80px;
  -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s; }
  .next:hover {
    background-color: #212121; }

.prev {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 45%;
  left: -80px;
  background-image: url(resources/icons/back.svg);
  background-size: cover;
  width: 80px;
  height: 80px;
  -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s; }
  .prev:hover {
    background-color: #212121; }

.main #posts .sorry {
  padding: 20px;
  text-align: center;
  font-size: 200%;
  font-family: "Lato", sans-serif !important;
  padding-bottom: 30px;
  margin-top: 30px;
  color: #555;
  box-sizing: border-box;
  max-width: 100%;
  width: 400px;
  max-width: 100%; }

@media (max-width: 700px) {
  .search {
    width: 100%;
    top: 46px;
    display: none;
    position: absolute;
    background-color: #212121;
    box-sizing: border-box;
    border-top: 1px solid #2196F3; }
    .search:after {
      display: none; }
    .search #search {
      width: 100%; }

  nav .mobsearch {
    display: inline-block;
    background-image: url(resources/icons/search.svg);
    height: 40px;
    width: 40px;
    background-size: cover;
    position: absolute;
    right: 40px;
    top: 5px; }

  .main #posts > div {
    margin: 0;
    margin-bottom: 20px; }

  .main.find #posts {
    padding-top: 70px; }

  #cinema {
    z-index: 101;
    top: 0px;
    width: 100%;
    height: 320px;
    left: 0; }
    #cinema p {
      box-sizing: border-box; }
    #cinema p:nth-child(3) {
      width: 100%;
      text-align: center; }
    #cinema p:nth-child(4) {
      padding-top: 10px;
      width: 100%;
      background-color: #212121; }
    #cinema p:nth-child(5) {
      width: 100%;
      background-color: #212121;
      padding: 10px 20px;
      padding-bottom: 20px; }
    #cinema #cinheader {
      z-index: 1000; }

  .create, .maximize {
    right: 25px;
    bottom: 25px; }

  .minimizeanim {
    -webkit-transform: translate(-45px, -120px) scale(0.01);
        -ms-transform: translate(-45px, -120px) scale(0.01);
            transform: translate(-45px, -120px) scale(0.01);
    -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
            transform-origin: right bottom; }

  .maximize {
    bottom: 100px;
    right: 25px; }

  #popup {
    top: 200px; }
    #popup:first-child {
      padding-left: 5px; }

  .next {
    bottom: 0px;
    width: 44px;
    height: 44px;
    right: 0; }

  .prev {
    bottom: 0px;
    width: 44px;
    height: 44px;
    left: 0; } }
@media (max-width: 400px) {
  #login {
    width: 100%; }
    #login div {
      width: 100%;
      text-align: center; } }
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0); } }
.bounce:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
      transform-origin: center bottom; }

.animated:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
