html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body{
	background-color:#f4f4f4;
}
a{
	text-decoration:none;
	-webkit-transition:color .4s;
	        transition:color .4s;
}
a:hover{
	color:orange;
	cursor: pointer;
}
button{
	font-family:'Lato', Sans-serif;
}
p{
	margin:0;
	font-family:'Lato', Sans-serif;
}
li{
	font-family:'Open Sans', Sans-serif;
}
/*white*/
body::-webkit-scrollbar-track, .postbutton, .login, .wrapper > input[type=button], .toppage, #infowrapper, .about, .item, .footer{
	background-color:white;
}
/*#2c3e50*/
p, a, button, input[type=button], input[type=reset], input[type=submit]{
	color:#2c3e50;
}
.wrapper{
	min-height: 100%;
	margin: 0 auto -50px;
}
.topbar{
	background-color:#fcfcfc;
	position:fixed;
	z-index:1;
	width:100%;
	box-shadow:0 0px 5px 1px #e6e6e6;
}
.topbar input, .login, .topbar > form{
	float:right;
}
.topbut{
	font-size:24px;
	-webkit-transition:background-color .4s;
	        transition:background-color .4s;
	font-family:'Lato', Sans-serif;
	-webkit-transition:color .4s;
	        transition:color .4s;
}
.postbutton{
	border:0;
	border-right:1px solid #e6e6e6;
	padding:10px;
}
.login{
	padding:10px;
	border:0;
	border-left:1px solid #e6e6e6;
}
#search{
	margin-top:12px;
	margin-right:10px;
	border:1px solid #ccc;
	border-radius:10px;
	padding:4px 0;
	padding-left:10px;
	-webkit-transition:background-color .4s;
	        transition:background-color .4s;
}
#searchclicker{
	display:none;
}
button, input[type=button], input[type=reset], input[type=submit]{
	font-size:150%;
	-webkit-transition:background-color .4s;
	        transition:background-color .4s;
	-webkit-transition:color .4s;
	        transition:color .4s;
}
button:hover, input[type=button]:hover{
	cursor:pointer;
	box-shadow:0 0 5px white;
}
button:hover, .topbut:hover{
	background-color:#fcfcfc;
	color:orange;
}
button:active, button:focus, #search, #mobilesearch, #mobilesearch:focus, #mobilesearch:active{
	outline:0;
}
.wrapper > input[type=button]{
	border:0;
	-webkit-transition:box-shadow .4s;
	        transition:box-shadow .4s;
}
.toppage{
	text-align:center;
	padding:50px 0;
	padding-top:100px;
	box-shadow:0 -1px 10px 1px #c6c6c6;
}
.infoslide{
	display:none;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	width:1200px;
	margin:0 auto;
}
#infowrapper{
	width:100%;
}
.aboutclose{
	margin:0 auto;
	width:50px;
	display:block;
}
.aboutclose img{
	display:block;
	margin:0 auto;
}
.aboutclose:hover{
	cursor:pointer;
}
.toppage p:first-child{
	font-size:370%;
}
.toppage p:nth-child(2){
	font-size:125%;
}
.content{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	width:1200px;
	margin:80px auto;
}
.about{
	position:relative;
	z-index:-1;
	width:800px;
	padding:40px;
	margin:0 auto;
	box-sizing:border-box;
}
.item{
	height:auto;
	width:500px;
	margin:10px auto;
	padding:10px;
	border:10px solid white;
}
.content .item{
	box-shadow:0 1px 10px 1px #ccc;
}
.item iframe{
	margin:10px;
	width:480px;
	height:380px;
	box-shadow:0px 1px 3px #2c3e50;
}
.item p:nth-child(2){
	font-size:150%;
	padding-left:20px;
}
.item p:nth-child(3){
	font-size:125%;
	padding-left:40px;
	padding-bottom:10px;
	border-bottom:1px solid #2c3e50;
}
.item p:nth-child(4){
	padding-top:10px;
}
#post{
	display:none;
	position:fixed;
	left:0;
	right:0;
	margin:0 auto;
	top:50%;
	margin-top:-190px;
	box-shadow:0 0 8px black;
}
form input[type=text], textarea{
	border:none;
	border-top: 1px solid #ddd;
	padding:10px;
	width:70%;
	margin:10px auto;
	display:block;
	font-family:'Lato', Sans-serif;
	transition: box-shadow .4s;
}
form input[type=text]:focus, form input[type=text]:active, textarea:focus, textarea:active{
	outline:0;
	box-shadow:0 0px 0px 3px #ddd;
}
form input[type=button]:nth-child(6){
	margin-left:24%;
	margin-top:10px;
}
div input[type=button]:nth-child(7){
	display:block;
	margin:0 auto;
	margin-bottom:50px;
	padding:10px;
}
.sorry{
	font-family:"Open-Sans", Sans-serif;
	font-size:300%;
	color:#aaa;
	width:80%;
	text-align:center;
	margin:0 auto;
}
.push, .footer{
	height:50px;
}
.footer{
	text-align:center;
	box-shadow:0 -1px 5px 1px #c6c6c6;
}
.footer p{
	padding:10px 0;
	font-size:130%;
}
.footer a{
	font-style:none;
}
body::-webkit-scrollbar {
	width: 8px;
	height:8px;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  	background-color: #2c3e50;
  	border-left:1px solid rgba(0,0,0,.5);
}
@media print, screen and (max-width:1210px){
	.content, .infoslide, .about{
		width:95%;
	}
}

@media print, screen and (max-width:600px){
	.flexbox{
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
	}
	.content, .infoslide, .about, #post, .item iframe, .infoslide, .item{
		width:100%;
	}
	.item{
		height:auto;
	}
	.item iframe{
		height:60vw;
		margin:0;
	}
	#search{
		width:50px;
		-webkit-transition:width .4s;
		        transition:width .4s;
		display:none;
	}
	#mobilesearch{
		display:block;
		height:40px;
		border:1px solid #2c3e50;
		width:90%;
		border-radius:30px;
		margin:0 auto;
		text-align:center;
	}
	#searchclicker{
		display:inline-block;
		float:right;
		height:25px;
		margin: 14px 7px 0 0;
	}
	#searchclicker:hover{
		cursor:pointer;
	}
	#searchbox{
		border-bottom:1px solid #2c3e50;
		display:none;
		height:50px;
		padding-top:50px;
	}
	#searchbox form{
		padding-top:3px;
	}
	#post{
		top:48px;
		padding:0;
		margin-top:0;
		padding-top:10px;
	}
	#post > *{
		width:auto;
		margin:0;
	}
	#postform > input[type=text], #postform > textarea{
		width:80%;
	}
	#post input[type=button]{
		margin:0;
		margin-bottom:10px;
	}
	#postform input[type=button]:nth-child(5){
		margin-left:45px;
	}
}